body
{
  background: black;
  font-family: 'PT Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.Page-Header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
    position: relative;
    

/*     background-color: #eeeeee; */
/*     border: 0.1px solid red; */
}
#image-con{
display:flex;
flex-direction: column;
}
.background-image{
display:flex;
flex-direction: column;
flex-wrap:  wrap;
position: relative;
width:100%;
overflow: auto;
  margin-bottom: 200px;
/* border: 5px solid green; */
}
.About-Us-container{
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  flex-wrap: wrap; 
  position: absolute;
  right:10%;
  bottom:15%;
/*   border: 1px solid red; */
  z-index:1;
}
#About-Us{
  display:flex;
  justify-content:flex-start;
  flex-wrap: wrap; 
  align-items: center;
  background-color: #f3ba58;
  margin-bottom: 25px;
/*  border: 1px solid white; */
}
h1.About-Us {
  width:auto;
  font-size: 38px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
    margin: 15px 130px 15px 45px;
/*     border: 1px solid green; */
}
#Page-desc {
  width:auto;
  max-width: 300px;
  margin-left: 10px;
  height: auto;
  
  font-size: 29px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
/*   border: 1px solid green; */
}

.about-slider
{
  margin-top: 5%;
}









.title {
  margin: 100px 0 50px 0;
  letter-spacing: 3px;
  color: #DFE3EE; }

.description {
  color: #DFE3EE;
  font-size: 1em;
  margin-bottom: 50px; }

.about-container {
  width: 100%;
  height: 100%;
  margin-top: 0%;
  text-align: center;
  color: #DFE3EE;
  
  }
  .about-container .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .about-container .col-3:nth-of-type(1) {
    width: 29.33%;
    margin-left: 5%;
    margin-right: 1%;
    border-bottom: 8px solid #FC6F72;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #3E3937;
    height: 200px;
    color: #FC6F72; }
  .about-container .col-3:nth-of-type(2) {
    width: 29.33%;
    margin-right: 1%;
    border-bottom: 8px solid #A6CB5D;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #3E3937;
    height: 200px;
    color: #A6CB5D; }
  .about-container .col-3:nth-of-type(3) {
    width: 29.33%;
    margin-right: 5%;
    margin-left: 20%;
    border-bottom: 8px solid #EDC677;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #3E3937;
    height: 200px;
    color: #EDC677; }

span {
  font-size: 18px;
  display: block;
  margin: 15px 0 50px 0;
  font-weight: bold; }

a {
  color: white; }

i {
  opacity: 0.2;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s; }
  i:hover {
    opacity: 1;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s; }

h1
{
  text-align: center;
}

.members
{
  display: flex;
  flex-flow: nowrap;
}

.member-details1
{
  
  text-align: left;
  margin-left: 0%;
  padding: 10px;
}
.member-details2
{
  
  text-align: left;
  margin-left: 0%;
  padding: 10px;
}
.member-details3
{
 
  text-align: left;
  margin-left: 0%;
  padding: 10px;
}*/